{% extends 'base.html.twig' %}

{% block title %}Hello ParticipantController!{% endblock %}

{% block body %}

    <div>{{ app.user.nom }}</div>
    <div>{{ app.user.prenom }}</div>
    <div>{{ app.user.email }}</div>
    <div>{{ app.user.telephone }}</div>
    <div>{{ app.user.password }}</div>
    <div>{{ app.user.password }}</div>




{% endblock %}
