{% extends 'base.html.twig' %}

{% block title %}   {{ parent() }} | Modifier mon profil {% endblock %}

{% block body %}


        <label>Photo</label>
        <span><img class="PhotoProfil" src="{{ asset('uploads/PhotoProfil/'~ user.fileNamePhotoProfil) }}" alt="Photo-Profil"/></span>
        <span><a href="{{ path('participant_modifier_PhotoProfil') }}">🖊️</a></span>
    <div class="form">
        {{ form_start(UpdateProfil) }}
        {{ form_widget(UpdateProfil) }}
        <input type="submit">
        {{ form_end(UpdateProfil) }}
    </div>
        <a href="{{ path('participant_NouveauMotDePasse') }}">Modifier Mot de passe</a>

{% endblock %}

