{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="block">
    <h1>Bonjour {{ app.user.prenom }} {{ app.user.nom }} ! ✅</h1>
    <h3>Bienvenue dans votre outil de gestion Administrateur</h3>

    <div class="form">
        <div>
            <a href="{{ path('admin_registration_view') }}" title="Inscription">Inscrire un nouveau participant</a>
        </div>

        <div>
            <a href="{{ path('lieu_create') }}" title="Create Lieu">Ajouter un lieu</a>
        </div>

        <div>
           <a href="{{ path('campus_create') }}" title="Create Campus">Ajouter un campus</a>
        </div>

        <div>
            <a href="{{ path('etat_create') }}" title="Etat">Ajouter un nouvel état</a>
        </div>

        <div>
            <a href="{{ path('ville_create') }}" title="Ville">Ajouter une ville</a>
        </div>

        <div>
            <a href="{{ path('sortie_create') }}" title="Sortie">Créer une sortie</a>
        </div>
    </div>

     Affichage participants
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>E-mail</th>
                <th>Téléphone</th>
                <th>Etat</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for participant in participants %}

            <tr>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.email }}</td>
                <td>{{ participant.telephone }}</td>

                {% if participant.actif==true %}
                <td>{{ participant.actif}}</td>
                <td>
                        <form method="post" name="inactif" action="{{ path('participant_inactif',{'id': participant.id}) }}">
                            <input type="submit" value="Inactif" name="inactif" >
                        </form>
                {% endif %}
                    {% if participant.actif!=true %}
                <td>Actions</td>
                <td>
                        <form method="post" name="actif" action="{{ path('participant_actif',{'id': participant.id}) }}">
                            <input type="submit" value="Actif" name="actif" >
                        </form>
                {% endif %}
                        <form method="post" name="suppression" action="{{ path('participant_suppression',{'id': participant.id}) }}">
                            <input type="submit" value="Supprimer" name="supprimer" >
                        </form>

                </td>

            </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
</div>
{% endblock %}
