{% extends 'base.html.twig' %}


{% block body %}
    {% if app.user  %}
        <h1> Hello {{ app.User.prenom}} {{ app.user.nom }}</h1>
    {% else %}
        <h1>Bonjour visiteur</h1>
    {% endif %}
<div class="container">
    <div class="block">
        {{ form_start(createSortieForm) }}
        {{ form_row(createSortieForm.nom) }}
        {{ form_row(createSortieForm.dateHeureDebut) }}
        {{ form_row(createSortieForm.duree) }}
        {{ form_row(createSortieForm.nbInscriptionsMax) }}
        {{ form_row(createSortieForm.infosSortie) }}
        {{ form_row(createSortieForm.campus) }}
        {{ form_row(createSortieForm.ville) }}
        <div id="liste_lieu">
            {{ form_row(createSortieForm.Lieu) }}
        </div>

    </div>
</div>
        {{ form_end(createSortieForm) }}
    </div>
    <div class="container">
        <div class="block">
        <button id="afficher_lieu_form">Creer un lieu!</button>
        <button style="display: none" id="afficher_liste_lieu">Afficher la liste!</button>
        <div style="display: none" id="formulaire_lieu">
            {{ form_start(createLieuForm) }}
            {{ form_widget(createLieuForm)}}
            <button>Submit le lieu!</button>
            {{ form_end(createLieuForm)}}
        </div>
        </div>
    </div>

    <script>
        var $ville = $('#create_sortie_ville');
        // When sport gets selected ...
        $ville.change(function() {
            // ... retrieve the corresponding form.
            var $form = $(this).closest('form');
            // Simulate form data, but only include the selected sport value.
            var data = {};
            data[$ville.attr('name')] = $ville.val();
            console.log(data)
            // Submit data via AJAX to the form's action path.
            $.ajax({
                url : $form.attr('action'),
                type: $form.attr('method'),
                data : data,
                success: function(html) {
                    // Replace current position field ...
                    $('#create_sortie_Lieu').replaceWith(
                        // ... with the returned one from the AJAX response.
                        $(html).find('#create_sortie_Lieu')
                    );
                    // Position field now displays the appropriate positions.
                }
            });
        });
    </script>

    <script type="text/javascript" >

        document.getElementById('afficher_lieu_form').onclick = function afficher(){
            if(document.getElementById('formulaire_lieu').style.display == "none"){
                document.getElementById('formulaire_lieu').style.display = "block";
                document.getElementById('liste_lieu').style.display= "none";
                document.getElementById('afficher_lieu_form').style.display= "none";
                document.getElementById('afficher_liste_lieu').style.display= "block";
            }
        }

    </script>
    <script type="text/javascript" >
        document.getElementById('afficher_liste_lieu').onclick = function enlever(){
            document.getElementById('formulaire_lieu').style.display = "none";
                document.getElementById('liste_lieu').style.display= "block";
                document.getElementById('afficher_lieu_form').style.display= "block";
                document.getElementById('afficher_liste_lieu').style.display= "none";
        }
    </script>


{% endblock %}

{% block title  %}{{ parent() }} | Home {% endblock %}