{% extends 'base.html.twig' %}

{% block body %}

    {% if app.user  %}
        <h1> Hello {{ app.user.nom }}</h1>
    {% else %}
        <h1>Hello MotherFucker</h1>
    {% endif %}
    <div class="container">
        <div class="block">
            {{ form(formSearch) }}
        </div>
</div>
    <div>
        {# <table>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture</th>
            <th>inscrit/Place</th>
            <th>Etat</th>
            <th>Organisateur</th>
        {% for sortie in sorties %}

            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i:s') }}</td>
                <td>{{ sortie.dateLimiteInscription |date('d/m/Y H:i:s')}}</td>
                <td>{{ sortie.nbInscriptionsMax }} max</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</td>
            </tr>
        </table>  #}



        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Infos</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits/Places</th>
                    <th>Etat</th>
                    <th>Organisateur</th>
                    <th>Action</th>

                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}

                <tr>

                        <td><a href="{{ path('sortie_detail',{'id':sortie.id})}}">{{ sortie.nom }}</a></td>
                        <td>{{ sortie.infosSortie }}</td>
                        <td>{{ sortie.dateHeureDebut|date('d/m/Y H:i:s') }}</td>
                        <td>{{ sortie.dateLimiteInscription |date('d/m/Y H:i:s')}}</td>
                        <td>{{ sortie.membreInscrit.count }}/{{ sortie.nbInscriptionsMax }} </td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</td>
                    {% if sortie.membreInscrit.count < sortie.nbInscriptionsMax %}

                        <td>
                            {% if sortie.dateLimiteInscription> date('now') %}
                            <form method="post" name="inscription" action="{{ path('sortie_inscription',{'id': sortie.id}) }} ">
                                    <input type="submit" value="S'incrire" name="inscription">
                            </form>
                            {% endif %}
                            {% endif %}
                            {% if app.user!= null and app.user.id ==sortie.organisateur.id %}
                            <form method="post" name="modifier" action="{{ path('sortie_modifier',{'id': sortie.id}) }}">
                                         <input type="submit" value="Modifier" name="modifier" >
                            </form>
                            {% endif %}
                            {% if app.user!= null and app.user.id !=sortie.organisateur.id and  sortie.dateHeureDebut> date('now')%}
                            <form method="post" name="desister" action="{{ path('sortie_desiste',{'id': sortie.id}) }}">
                                <input type="submit" value="Se désister" name="desister" >
                            </form>
                            {% endif %}
                            {% if app.user!= null and app.user.id ==sortie.organisateur.id %}
                            <form method="post" name="annuler" action="{{ path('sortie_annuler',{'id': sortie.id}) }}">
                                <input type="submit" value="Annuler une sortie" name="annuler" >
                            </form>
                            {% endif %}

                        </td>




                </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>



    </div>
{% endblock %}

{% block title  %}{{ parent() }} | Home {% endblock %}