{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user  %}
        <h1> Hello {{ app.user.nom }}</h1>
    {% else %}
        <h1>Bonjour visiteur</h1>
    {% endif %}
    <div class="container">
        <div class="block">
        {{ form_start(createVilleForm) }}

        {{ form_widget(createVilleForm) }}
        <button>Create!</button>
        {{ form_end(createVilleForm) }}
        </div>
    </div>

    <a class="button btn btn-1" href="{{ path('admin_view') }}" title="retour">Retour</a>
{% endblock %}

{% block title  %}{{ parent() }} | Home {% endblock %}