{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user  %}
        <h1> Hello {{ app.user.firstname }}</h1>
    {% else %}
        <h1>Hello MotherFucker</h1>
    {% endif %}
    <div>
        {{ form_start(createVilleForm) }}

        {{ form_widget(createVilleForm) }}
        <button>Create!</button>
        {{ form_end(createVilleForm) }}
    </div>
{% endblock %}

{% block title  %}{{ parent() }} | Home {% endblock %}