<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Sortir ! {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

{#    <link rel="icon" href="{{ asset('img/icon.png') }}">#}
</head>
<body>

    <header>
{#        <h1><a href="{{ path('main_home') }}" ><img src="{{ asset('img/logo.png') }}" alt="Bucket-list!"></a></h1>#}

        <div >
            <h2 class="header_navbar">
                <a href="{{ path('main_home') }}" title="Back to Homepage">
                    <img src="{{ asset('img/Logo_Sortir.png') }}" alt="Sortir-Home">
                </a>






                {% include('inc/nav.html.twig') %}
            </h2>
        </div>

    </header>

    <div>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <main>
        {% block body %}{% endblock %}
    </main>

    </div>

    <footer>
{#        {% include('inc/nav.html.twig') %}#}
        <p>&copy;Sortir {{ "now"|date("Y") }}  !</p>
    </footer>
</body>
</html>