{% extends 'base.html.twig' %}

{% block body %}
    {% if app.user  %}
        <h1> Hello {{ app.User.prenom}} {{ app.user.nom }}</h1>
    {% else %}
        <h1>Bonjour visiteur</h1>
    {% endif %}
    <div class="form">
        {{ form_start(createEtatForm) }}

        {{ form_widget(createEtatForm) }}
        <button>Create!</button>
        {{ form_end(createEtatForm) }}
    </div>

    <a href="{{ path('admin_view') }}" title="retour">Retour</a>
{% endblock %}

{% block title  %}{{ parent() }} | Home {% endblock %}