<nav class="nav-bar">

    <ul>Recherche
        <a href="{{ path('main_home') }}" title="Home">Home</a>
        <a href="{{ path('sortie_list') }}" title="sorties">Sorties</a>
        {% if app.user != null %}
        <a href="{{ path('participant_modifier') }}" title="profil">Profil</a>
        <a href="{{ path('app_logout') }}" title="deconnexion">Se déconnecter</a>
        {% endif %}

    </ul>

    <ul>Options d'administration :
        {% if app.user %}
            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('admin_view') }}">Tableau de bord</a>
            {% endif %}
    </ul>
    <ul>
        {% else %}
            <a href="{{ path('app_login') }}" title="Login">Login</a>
            <a href="{{ path('app_register') }}" title="Create account">Register</a>
        {% endif %}
    </ul>
</nav>


{# ,{'id': app.user.id} #}