<nav class="nav-bar">
    <ul>Connexion/Inscription
        <a href="{{ path('app_register') }}" title="registration">Registration</a>
        <a href="{{ path('app_login') }}" title="registration">Login</a>
    </ul>

    <ul>Recherche
        <a href="{{ path('sortie_list') }}" title="sorties">Sorties</a>
        <a href="{{ path('sortie_list') }}" title="sorties">Sorties</a>
    </ul>

    <ul>Options :
        <li><a href="{{ path('main_home') }}" title="Home">Home</a></li>
        <li><a href="{{ path('campus_create') }}" title="Create Campus">Create Campus</a></li>
        <li><a href="{{ path('etat_create') }}" title="Create Etat">Create Etat</a></li>
        <li><a href="{{ path('lieu_create') }}" title="Create lieu">Create Lieu</a></li>
        <li><a href="{{ path('sortie_create') }}" title="Create Sortie">Create Sortie</a></li>
        <li><a href="{{ path('ville_create') }}" title="Create Ville">Create Ville</a></li>
        {% if app.user %}
            {% if is_granted("ROLE_ADMIN") %}
            {% endif %}
        {% else %}
            <li><a href="{{ path('app_login') }}" title="Login">Login</a></li>
            <li><a href="{{ path('app_register') }}" title="Create account">Register</a></li>
        {% endif %}
    </ul>
</nav>